$purple-color: #59499e;
$cyan-color: #25bee0;

.title  {
  background-color: $purple-color;
  line-height: 50px;
  height: 50px;
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
}